body {
    background-image: url(img/pronto.png);
    background-repeat: repeat;
    background-position: cover;
    background-size: cover;
}


#inicio{
    color: #fff;
}

#entrar{
    padding-left:10px ;
    padding-top :30px; 
}

#pwd,#email{
    width: 310px;
}

#containerLogin{
    margin-top: 300px;
    margin-right: 180px;
}

#bCadastrar{
    margin-left: 10px;
}