<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>dragon5e</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/estiloficha.css" rel="stylesheet">

</head>

<body id="page-top">

  <!--Cabeçalho-->
  <section class="cabecalho">
    <div class="h1">
        <h1 align="center">Ficha de personagem</h1>
    </div>
     
    <div class="container ">
      <div class="row">
        <div class="col-md-3">
          <img id="imgPerfil" class="img-fluid rounded-circle" src="img/paladino.png">
        </div>
        <div class="offset-md-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="pt-2">
                    <input class="form-control form-control-sm" type="text" placeholder="Nome">
                  </div>
                  <div class="pt-4">
                    <input class="form-control form-control-sm" type="text" placeholder="Classe e nivel">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pt-2">
                    <input class="form-control form-control-sm" type="text" placeholder="Antecedente">
                  </div>
                  <div class="pt-4">
                    <input class="form-control form-control-sm" type="text" placeholder="Raça">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pt-2">
                    <input class="form-control form-control-sm" type="text" placeholder="Tendência">
                  </div>
                  <div class="pt-4">
                    <input class="form-control form-control-sm" type="text" placeholder="Pontos de xp">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr align="center" width="1200" size="2" color="white">

  <section id='app1' class="dados">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="card">
            <div class="card-body">
              <div class="card-att">
                <p class="text-center">Força</p>
                <input v-model="forca" class="form-control form-control-lg offset-3 col-md-6" type="text"
                  placeholder="0">
                <div class="offset-4 pt-1">
                  <p class="circulo text-center">{{proeficiencias.fo}}</p>
                </div>
              </div>
              <div class="card-att mt-2">
                <p class="text-center">Destreza</p>
                <input v-model="destreza" class="form-control form-control-lg offset-3 col-md-6" type="text"
                  placeholder="0">
                <div class="offset-4 pt-1">
                  <p class="circulo text-center">{{proeficiencias.de}}</p>
                </div>
              </div>
              <div class="card-att mt-2">
                <p class="text-center">Constituição</p>
                <input v-model="constituicao" class="form-control form-control-lg offset-3 col-md-6" type="text"
                  placeholder="0">
                <div class="offset-4 pt-1">
                  <p class="circulo text-center">{{proeficiencias.co}}</p>
                </div>
              </div>
              <div class="card-att mt-2">
                <p class="text-center">Inteligência</p>
                <input v-model="inteligencia" class="form-control form-control-lg offset-3 col-md-6" type="text"
                  placeholder="0">
                <div class="offset-4 pt-1">
                  <p class="circulo text-center">{{proeficiencias.in}}</p>
                </div>
              </div>
              <div class="card-att mt-2">
                <p class="text-center">Sabedoria</p>
                <input v-model="sabedoria" class="form-control form-control-lg offset-3 col-md-6" type="text"
                  placeholder="0">
                <div class="offset-4 pt-1">
                  <p class="circulo text-center">{{proeficiencias.sa}}</p>
                </div>
              </div>
              <div class="card-att mt-2">
                <p class="text-center P">Carisma</p>
                <input v-model="carisma" class="form-control form-control-lg offset-3 col-md-6" type="text"
                  placeholder="0">
                <div class="offset-4 pt-1">
                  <p class="circulo text-center">{{proeficiencias.ca}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-1">
            <div class="card-body">
              Ouro
              <div class="col-md-8">
                <div class="row">
                  <p class="col-md-8 mr-n1 pt-1">PC:</p>
                  <input class="ml-n2 form-control form-control-sm col-md-4" type="text" placeholder="0">
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <p class="col-md-8 mr-n1 pt-1">PP:</p>
                  <input class="ml-n2 form-control form-control-sm col-md-4" type="text" placeholder="0">
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <p class="col-md-8 mr-n1 pt-1">PE:</p>
                  <input class="ml-n2 form-control form-control-sm col-md-4" type="text" placeholder="0">
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <p class="col-md-8 mr-n1 pt-1">PD:</p>
                  <input class="ml-n2 form-control form-control-sm col-md-4" type="text" placeholder="0">
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <p class="col-md-8 mr-n1 pt-1">PL:</p>
                  <input class="ml-n2 form-control form-control-sm col-md-4" type="text" placeholder="0">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="row borda">
                <div class="col-md-4 pt-3">
                  <input class="form-control form-control-lg" type="text" placeholder="0">
                  <!-- <h5 class="border text-center h-75 pt-2">0</h5> -->
                </div>
                <div class="col-md-7 pt-4">
                  <p class="text-center">INSPIRAÇÃO</p>
                </div>
              </div>
              <div class="row borda mt-2">
                <div class="col-md-4 pt-3">
                  <input class="form-control form-control-lg" type="text" placeholder="0">
                  <!-- <h5 class="border text-center h-75 pt-2">0</h5> -->
                </div>
                <div class="col-md-8 pt-3">
                  <p class="text-center">BÔNUS DE PROFICIÊNCIA</p>
                </div>
              </div>
              <div class="row bordateste">
                <div class="row">
                  <div class="offset-2 col-md-1 pt-3">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                  <div class="col-md-3 pt-2">
                    <input class="form-control form-control-sm" type="text" :placeholder="proeficiencias.fo">
                  </div>
                  <div class="col-md-5 pt-2">
                    <p class="text-center">Força</p>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-2 col-md-1 pt-3">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                  <div class="col-md-3 pt-2">
                    <input class="form-control form-control-sm" type="text" :placeholder="proeficiencias.de">
                  </div>
                  <div class="col-md-5 pt-2">
                    <p class="text-center">Destreza</p>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-2 col-md-1 pt-3">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                  <div class="col-md-3 pt-2">
                    <input class="form-control form-control-sm" type="text" :placeholder="proeficiencias.co">
                  </div>
                  <div class="col-md-5 pt-2">
                    <p class="text-center">Constituição</p>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-2 col-md-1 pt-3">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                  <div class="col-md-3 pt-2">
                    <input class="form-control form-control-sm" type="text" :placeholder="proeficiencias.in">
                  </div>
                  <div class="col-md-5 pt-2">
                    <p class="text-center">Inteligência</p>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-2 col-md-1 pt-3">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                  <div class="col-md-3 pt-2">
                    <input class="form-control form-control-sm" type="text" :placeholder="proeficiencias.sa">
                  </div>
                  <div class="col-md-5 pt-2">
                    <p class="text-center">Sabedoria</p>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-2 col-md-1 pt-3">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                  <div class="col-md-3 pt-2">
                    <input class="form-control form-control-sm" type="text" :placeholder="proeficiencias.ca">
                  </div>
                  <div class="col-md-5 pt-2">
                    <p class="text-center">Carisma</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-1">
            <div class="card-body">
              <div class="row bordateste">
                <div v-for="pericia in pericias" class="row">
                  <div class="offset-2 col-md-1 pt-3">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                  <div class="col-md-3 pt-2">
                    <input v-if="pericia.tipo == 1" class="form-control form-control-sm" type="text" :placeholder="proeficiencias.fo">
                    <input v-if="pericia.tipo == 2" class="form-control form-control-sm" type="text" :placeholder="proeficiencias.de">
                    <input v-if="pericia.tipo == 3" class="form-control form-control-sm" type="text" :placeholder="proeficiencias.co">
                    <input v-if="pericia.tipo == 4" class="form-control form-control-sm" type="text" :placeholder="proeficiencias.in">
                    <input v-if="pericia.tipo == 5" class="form-control form-control-sm" type="text" :placeholder="proeficiencias.sa">
                    <input v-if="pericia.tipo == 6" class="form-control form-control-sm" type="text" :placeholder="proeficiencias.ca">
                  </div>
                  <div class="col-md-5 pt-2">
                    <p class="text-center">{{pericia.nome}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="0">
                  <p class="text-center">Classe ARMD</p>
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" :placeholder="proeficiencias.de">
                  <!-- <p class="border pl-1 h-40 pt-2">0</p> -->
                  <p class="text-center">Iniciativa</p>
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="0">
                  <p class="text-center">Desloc.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="0">
                  <p class="text-center">PV total</p>
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="0">
                  <p class="text-center">PV atual</p>
                </div> 
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="0">
                  <p class="text-center">PV temporario</p>
                </div>
             </div>
              <div class="row p">
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="0">
                  <p class="text-center">Dados vida</p>
                </div>
                <div class="col-md-4 border border-right-0 pt-2">
                  <div class="row">
                    <p class="col-md-12 text-right">Sucesso:</p>
                  </div>
                  <div class="row">
                    <p class="col-md-12 text-right mt-n3">Fracasso:</p>
                  </div>
                </div>
                <div class="col-md-4 border border-left-0 pt-2">
                  <div class="row">
                    <div class="col-md-4">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                    <div class="col-md-4">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                    <div class="col-md-4">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                  </div>
                  <div class="row pt-4">
                    <div class="col-md-4">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                    <div class="col-md-4">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                    <div class="col-md-4">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-1">
            <div class="card-body">
              <h6 class="text-center">Armas</h6>
              <div class="row">
                <div class="col-md-4">
                  <p class="text-center">Nome</p>
                </div>
                <div class="col-md-4">
                  <p class="text-center">Bonus</p>
                </div>
                <div class="col-md-4">
                  <p class="text-center">Dano/tipo</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Nome">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Bonus">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Dano/tipo">
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Nome">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Bonus">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Dano/tipo">
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Nome">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Bonus">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text" placeholder="Dano/tipo">
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-1 p">
            <div class="card-body">
              <div class="form-group">
                <textarea style="resize: none" class="form-control" id="exampleFormControlTextarea1"
                  rows="5"></textarea>
                <h6>Ataques e magias</h6>
              </div>
            </div>
          </div>
          <div class="card mt-1">
            <div class="card-body">
              <div class="form-group">
                <textarea style="resize: none" class="form-control" id="exampleFormControlTextarea1"
                  rows="5"></textarea>
                <h6>Idiomas e proeficiencias</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card ">
            <div class="card-body">
              <div class="form-group">
                <textarea style="resize: none" class="form-control p" id="exampleFormControlTextarea1"
                  rows="5"></textarea>
                <h6>Traços de personalidade</h6>
              </div>
              <div class="form-group">
                <textarea style="resize: none" class="form-control" id="exampleFormControlTextarea1"
                  rows="5"></textarea>
                <h6>Ideais</h6>
              </div>
              <div class="form-group">
                <textarea style="resize: none" class="form-control" id="exampleFormControlTextarea1"
                  rows="5"></textarea>
                <h6>Ligações</h6>
              </div>
              <div class="form-group">
                <textarea style="resize: none" class="form-control" id="exampleFormControlTextarea1"
                  rows="5"></textarea>
                <h6>Defeitos</h6>
              </div>
            </div>
          </div>
          <div class="card mt-1">
            <div class="card-body">
              <div class="form-group">
                <textarea style="resize: none" class="form-control" id="exampleFormControlTextarea1"
                  rows="10"></textarea>
                <h6>Caracteristicas e habilidades</h6>
              </div>
            </div>
          </div>
            
        </div>
            <div class="col-md-8">
                <button class="form-control mt-5 offset-8 col-md-3">Salvar</button>
                <button class="form-control mt-2 offset-8 col-md-3">Voltar</button>
            </div>
           
      </div>

    </div>
      
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

  <script>
    // start app
    new Vue({
      el: '#app1',

      created() {

      },
      data: {
        proeficiencias: {
          fo: 0,
          de: 0,
          co: 0,
          in: 0,
          sa: 0,
          ca: 0
        },
        pericias: [
          {nome:'Acrobacia', tipo: 2}, 
          {nome:'Arcanismo', tipo: 4},
          {nome:'Atletismo', tipo: 1}, 
          {nome:'Atuação', tipo: 6}, 
          {nome:'Blefar', tipo: 5}, 
          {nome:'Furtividade', tipo: 2}, 
          {nome:'História', tipo: 4},
          {nome:'Intimidação', tipo: 5}, 
          {nome:'Intuição', tipo: 6},
          {nome:'Investigação', tipo: 4}, 
          {nome:'Lidar com Animais', tipo: 6}, 
          {nome:'Medicina', tipo: 6}, 
          {nome:'Natureza', tipo: 4}, 
          {nome:'Percepção', tipo: 6},
          {nome:'Persuasão', tipo: 5},
          {nome:'Prestidigitação', tipo: 2}, 
          {nome:'Religião', tipo: 4},
          {nome:'Sobrevivência', tipo: 5}
      ],
        forca: '',
        destreza: '',
        constituicao: '',
        inteligencia: '',
        sabedoria: '',
        carisma: '',


      },

      methods: {
        computar: function(val){
          this.proeficiencias.fo = (val/2)-5; 
          this.proeficiencias.fo = Math.trunc(this.proeficiencias.fo);
          console.log(this.proeficiencias.fo);
        }
      },

      watch: {
        forca: function() {
          this.proeficiencias.fo = (this.forca/2)-5; 
          this.proeficiencias.fo = Math.trunc(this.proeficiencias.fo);
          // console.log(this.proeficiencias.fo);
        },
        destreza: function() {
          this.proeficiencias.de = (this.destreza/2)-5; 
          this.proeficiencias.de = Math.trunc(this.proeficiencias.de);
          // console.log(this.proeficiencias.de);
        },
        constituicao: function() {
          this.proeficiencias.co = (this.constituicao/2)-5; 
          this.proeficiencias.co = Math.trunc(this.proeficiencias.co);
          // console.log(this.proeficiencias.co);
        },
        inteligencia: function() {
          this.proeficiencias.in = (this.inteligencia/2)-5; 
          this.proeficiencias.in = Math.trunc(this.proeficiencias.in);
          // console.log(this.proeficiencias.in);
        },
        sabedoria: function() {
          this.proeficiencias.sa = (this.sabedoria/2)-5; 
          this.proeficiencias.sa = Math.trunc(this.proeficiencias.sa);
          // console.log(this.proeficiencias.sa);
        },
        carisma: function() {
          this.proeficiencias.ca = (this.carisma/2)-5; 
          this.proeficiencias.ca = Math.trunc(this.proeficiencias.ca);
          // console.log(this.proeficiencias.ca);
        }

      }

    })
  </script>

</body>

</html>